@import 'tailwindcss';
@plugin 'daisyui';

@layer base {
  html,
  body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
  }

  body {
    overflow: hidden;
    position: relative;
  }

  #scene-editor-root {
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@theme {
  --spacing-editor-height: calc(100vh * 0.75);
  --spacing-editor-width: 22rem;
}
